---
heartbeats:
  - name: watchdog-prometheus-prd
    description: test workflow prometheus -> alertmanager
    interval: 5m
    grace: 30s
    notifications: # must match with notifications.services[*].name
      - slack
      - gmail
  - name: watchdog-prometheus-int
    description: test workflow prometheus -> alertmanager
    interval: 60m
    grace: 5m
    notifications:
      - msTeams
notifications:
  defaults:
    sendResolved: true
    message: "Description:\n{{.Description}}.\n\nLast ping: {{ .TimeAgo .LastPing }}"
  services:
    - name: slack
      enabled: true
      message: "*Description:*\n{{ .Description }}.\n\nLast ping: {{ .TimeAgo .LastPing }}"
      shoutrrr: slack://$SLACK_TOKEN@test?color={{ if eq .Status "OK" }}good{{ else }}danger{{ end }}&title=Heartbeat {{ .Name }} «{{ .Status }}»&botname=heartbeats
    - name: gmail
      enabled: true
      sendResolved: false
      shoutrrr: smtp://<FROM_ADDRESS>:$MAIL_PASSWORD@smtp.gmail.com:587?from=example@gmail.com&to=example@gmail.com&subject=Heartbeat {{ .Name }} «{{ .Status }}»
    - name: msteams
      enable: true
      shoutrrr: https://<organization>.webhook.office.com/webhookb2/<group>@<tenant>/IncomingWebhook/<altId>/<groupOwner>
