version: "2"

services:
  heartbeats:
    image: ghcr.io/containeroo/heartbeats:v0.4.4
    hostname: heartbeats
    environment:
      - "SLACK_TOKEN=TOKEN"
      - "EMAIL_PASSWORD=SUPERSECRET"
    command:
      - --debug
      - --host
      - 0.0.0.0
      - -c
      - /tmp/config.yaml
    ports:
      - "8090:8090"
    volumes:
      - ./config.yaml:/tmp/config.yaml
    networks:
      - YOUR_NETWORK
