{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Heartbeats</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/heartbeats.css" />
    <link rel="icon" href="/static/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" href="/static/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/static/icons/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" href="/static/icons/favicon-64x64.png" sizes="64x64" />
    <link rel="mask-icon" href="/static/favicon.svg" color="#e63946" />
    <link
      rel="icon"
      href="/static/icons/apple-touch-icon.png"
      sizes="180x180"
    />
  </head>
  <body class="d-flex flex-column min-vh-100">
    {{ template "navbar" . }}

    <main
      class="container flex-grow-1 overflow-hidden"
      style="padding-top: 56px; padding-bottom: 60px"
      id="content"
    >
      <!-- partials will be injected here -->
    </main>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
