{{define "body"}}
<table class="table table-hover" id="histories">
  <p><h1 class="mt-5">History:</h1></p>
  <thead>
    <tr>
      <th scope="col">Heartbeat</th>
      <th scope="col">Time</th>
      <th scope="col">Event</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    {{ range $key,$value := .History }}
    {{ range $value }}
    <tr>
      <td>{{$key}}</td>
      <td>{{.Time.Format "2006-01-02 15:04:05" }}</td>
      <td>{{.Event}}</td>
      <td>{{.Message}}</td>
    </tr>
    {{ end }}
    {{end}}
    </tbody>
  </table>
{{end}}
