{{define "history"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heartbeat History</title>
    <link rel="icon" href="/static/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" href="/static/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/static/icons/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" href="/static/icons/favicon-64x64.png" sizes="64x64" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link rel="stylesheet" href="/static/css/heartbeats.css" />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-6">
      <h1 class="text-3xl font-bold mb-6 text-center">
        Heartbeat History for {{.Name}}
      </h1>
      <div class="bg-white shadow-lg rounded-lg p-6">
        <table class="min-w-full bg-white">
          <thead>
            <tr>
              <th class="py-2 px-4 border-b-2 border-gray-200">Timestamp</th>
              <th class="py-2 px-4 border-b-2 border-gray-200">Event</th>
              <th class="py-2 px-4 border-b-2 border-gray-200">Message</th>
            </tr>
          </thead>
          <tbody>
            {{range .Entries}}
            <tr class="hover-row">
              <td class="py-2 px-4 border-b border-gray-200">
                {{formatTime .Time "2006-01-02 15:04:05"}}
              </td>
              <td class="py-2 px-4 border-b border-gray-200">{{.Event}}</td>
              <td class="py-2 px-4 border-b border-gray-200 message-cell">
                {{.Message}} {{if .Details}}
                <div class="triangle"></div>
                <div class="tooltip">
                  {{range $key, $value := .Details}}
                  <div>{{$key}}: {{$value}}</div>
                  {{end}}
                </div>
                {{end}}
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      <div class="mt-4">
        <a href="/" class="text-blue-500 hover:underline">Back to Heartbeats</a>
      </div>
    </div>
  </body>
</html>
{{end}}
