{{ define "history" }}
<h2 class="mt-1 mb-3">History</h2>

<div class="mb-3 row">
  <div class="col-sm-4">
    <div class="input-group filter">
      <input
        type="text"
        id="searchHistory"
        class="form-control with-clear"
        placeholder="enter heartbeat ID…"
      />
      <button type="button" class="clear-filter-btn">&times;</button>
    </div>
  </div>
</div>

<div class="table-wrapper">
  <table class="table table-striped table-hover">
    <thead class="table-primary">
      <tr>
        <th>Time</th>
        <th>Type</th>
        <th>Heartbeat</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody id="hist-body">
      {{- range .Events }}
      <tr data-id="{{ .HeartbeatID }}">
        <td>{{ .Timestamp }}</td>
        <td>{{ .Type }}</td>
        <td>{{ .HeartbeatID }}</td>
        <td>{{ .Details }}</td>
      </tr>
      {{- end }}
    </tbody>
  </table>
</div>
{{ end }}
