{{define "body"}}
<table class="table table-hover" id="history">
  <p></p><h1 class="mt-5">History: {{ .Name }}</h1></p>
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Event</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    {{ range  .History }}
    <tr>
      <td>{{ .Time.Format "2006-01-02 15:04:05" }}</td>
      <td>{{ .Event }}</td>
      <td>{{ if .Details }}<a data-toggle="tooltip" data-html="true" data-placement="top" title='<p class="text-md-start">{{ range $key,$value := .Details }}{{ $key }}: {{ $value }}<br>{{end}}</p>'>{{ else }}<a>{{end}}{{ .Message }}</a></td>
    </tr>
    {{end}}
    </tbody>
	</table>
{{end}}
