{{define "navbar"}}
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="brand" src="/static/assets/img/heartbeats.svg" alt="heartbeats.png"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Heartbeats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/history">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"href="/config">Config</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"href="/docs">Docs</a>
          </li>
        </ul>
        <div class="d-flex">
          <a class="nav-link" href="/dashboard">Dashboard
            <i class="bi bi-arrow-up-right-square"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
{{end}}