button.copy-link {
  opacity: 0;
  display: inline-block;
  width: 50px;
  background: none !important;
  border: none;
  padding: 0 !important;
  text-align: left;
  font-family: "Open Sans", Arial, sans-serif;
  color: blue;
  color: var(--link-color);
  cursor: pointer;
  transition: opacity 0.1s linear;
}

table tr button {
  opacity: 0;
  float: right
}

table tr:hover button {
  opacity: 1
}