.icons {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  font-family: 'Bootstrap-icons';
}

.is-up::after {
  color: green;
  content: '\F26A';
}

.is-down::after {
  color: red;
  content: '\F332';
}

.is-grace::after {
  color: #ff9900;
  content: '\F504';
}

.is-empty::after {
  color: #9699b9;
  content: '\F287';
}

.notifications {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.notificationsDisabled {
  filter: grayscale(100);
  -webkit-filter: grayscale(100);
}

.tooltip-inner {
  max-width: 1000px !important;
  text-align: left;
}
