{
  "title": {{ .Title | json }},
  "status": {{ .Status | json }},
  "payload": {{ .Payload | default nil | json }},
  "timestamp": {{ printf "%v" .Timestamp | json }},
  "late_after": {{ printf "%v" .LateAfter | json }},
  "since": {{ .Since | formatDuration | json }}
}
