<html>
  <body>
    <p><strong>{{ .Title }}</strong> {{ .Status }}</p>
    {{ if .Since }}<p>Since: {{ .Since | formatDuration }}</p>{{ end }}
    {{ with .Payload }}<p>Payload: {{ . }}</p>{{ end }}
  </body>
</html>
