{{/* Slack webhook payload */}}
{{- $channel := index .Vars "channel" | default "#test" | withPrefix "#" -}}
{{- $missingColor := printf "%v" (index .Vars "status_color_missing" | default "#A30200") -}}
{{- $okColor := printf "%v" (index .Vars "status_color_ok" | default "#2EB67D") -}}
{{- $color := when (eq .Status "missing") $missingColor $okColor -}}
{{- $hasSince := ne .Since 0 -}}
{{- $since := .Since | formatDuration -}}
{{- $sinceLine := when $hasSince (printf "\nSince: %s" $since) "" -}}
{{- $lastHeartbeat := when $hasSince $since "now" -}}
{
  "channel": {{ $channel | json }},
  "charset": "utf-8",
  "attachments": [
    {
      "title": {{ .Subject | json }},
      "color": {{ $color | json }},
      "fallback": {{ print "*" .Subject "*" $sinceLine "\nlast heartbeat: " $lastHeartbeat | json }},
      "mrkdwn_in": ["text"],
      "text": {{ print "*" .Title " is «" .Status "»*\nlast heartbeat: " $lastHeartbeat | json }}
    }
  ]
}
