---
apiVersion: v1
kind: ConfigMap
metadata:
  name: heartbeats
  namespace: heartbeats
data:
  config.yaml: |
    receivers:
      ops:
        webhooks:
          - url: https://slack.com/api/chat.postMessage
            headers:
              Authorization: Bearer ${HEARTBEATS__SLACK_TOKEN}
            template: slack
            subject_override_tmpl: "[ {{ toUpper .Status  }}] heartbeat"
            vars:
              channel: "#test"
        emails:
          - host: smtp.gmail.com
            port: 465
            user: ${HEARTBEATS__GMAIL_USER}
            pass: ${HEARTBEATS__GMAIL_PASS}
            from: heartbeats@example.com
            to:
              - ${HEARTBEATS__GMAIL_TOS}
            startTLS: false
            ssl: true
            template: email
        retry:
          count: 3
          delay: 2s

    heartbeats:
      my-endpoint:
        title: "API"
        subject_tmpl: "[{{ .Title }}] {{ .Status }}"
        interval: 3s
        late_after: 2s
        alert_on_late: false
        alert_on_recovery: true
        receivers: ["ops"]

    history:
      size: 1000
      buffer: 256
