---
apiVersion: v1
kind: Secret
metadata:
  name: heartbeats
  namespace: heartbeats
type: Opaque
stringData:
  HEARTBEATS__GMAIL_USER: your-gmail-username
  HEARTBEATS__GMAIL_PASS: your-gmail-password
  HEARTBEATS__GMAIL_TOS: your-gmail-to-address,another-email-address
  HEARTBEATS__SLACK_TOKEN: your-slack-token
