---
name: Unit Tests

on:
  workflow_call:
  pull_request:
    branches:
      - main
    paths:
      - "internal/**"
      - "main.go"
      - "go.mod"
      - "go.sum"
  workflow_dispatch:

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache: true

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: "web/package-lock.json"

      - name: Install Dependencies
        run: |
          make download

      - name: Build Frontend
        run: |
          cd web
          npm ci
          npm run build

      - name: Upload web dist artifact
        uses: actions/upload-artifact@v7
        with:
          name: web-dist
          path: web/dist
          if-no-files-found: error

      - name: Run Unit Tests
        run: |
          make test
